@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.containerAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-image: url("/bakli.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  position: relative;
}

.imageFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.containertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.textContainer {
  width: 90%;
  padding: 2rem;
}

.presentation_text {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 2000px) {
  .presentation_text {
    font-size: 3rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1100px) {
  .presentation_text {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 854px) {
  .containerAbout {
    background-size: 60%;
  }
  .presentation_text {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 716px) {
  .containerAbout {
    background-size: 70%;
  }
  .presentation_text {
    margin-top: 1em;
  }
}

@media screen and (max-width: 701px) {
  .presentation_text {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .containerAbout {
    height: 100vh;
  }
}

@media screen and (max-width: 437px) {
  .containerAbout {
    height: 130vh;
  }
}

@media screen and (max-width: 379px) {
  .containerAbout {
    height: 150vh;
  }
}

@media screen and (max-width: 330px) {
  .containerAbout {
    height: 180vh;
  }
}
