@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

h3 {
  width: 90%;
  color: #eee;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 3rem;
  text-align: left;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containertext {
  display: flex;
  flex-direction: column;
}

.textWithImage {
  display: flex;
  align-items: center;
}

.textContainer {
  margin-left: 20px;
}

.bakli {
  width: 20%;
  height: 30vh;
}
